* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body,
html {
  min-height: 100%;
  width: 100%;
}

body {
  font-family: $font-Raleway;
}

.arrow {
  @include size(50px, 100%);

  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: var(--yellow);
  transition: all 0.3s;

  &:hover {
    background-color: #ededed;
  }
}

.divider {
  @include size(20px, 4px);

  background-color: var(--yellow);
  margin: 0 auto;
  position: relative;
  margin-bottom: 25px;

  &::before,
  &::after {
    @include size(10px, 4px);
    @include pos($pos: absolute);

    content: "";
    background-color: inherit;
  }

  &::before {
    left: -15px;
  }

  &::after {
    left: 25px;
  }
}

.slider {
  display: flex;
  justify-content: center;

  &__item {
    @include size(12px);

    border-color: #fff;
    background-color: var(--yellow);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    margin-bottom: 95px;
    transition: all 0.3s;

    &:first-child,
    &--hover:hover {
      background-color: #fff;
      border: 1px solid var(--yellow);
    }
  }
}
