/* For all elements */
*,
*:before,
*:after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    background: #3b3f45;
    font-family: sans-serif;
}

/* header */
header {
    background: #4a4f56;
    color: #e97f81;
    text-align: center;
    padding-top: 29px;
    padding-bottom: 27px;
}

.header-title {
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 5px;
}

.header-slogan {
    font-size: 17px;
}

/* main - checkbox */
main {
    width: 800px;
    margin: 0 auto;
}

.checkboxes {
    padding-top: 40px;
    padding-bottom: 40px;
}

.checkbox {
    background: #88849d;
    color: #f9f9f9;
    height: 63px;
    border-bottom: 2px solid #88849d;
    border-top: 2px solid #88849d;
}

.checkbox:nth-child(even) {
    background: #7a7692;
    border-color: #7a7692;
}

label {
    cursor: pointer;
}

.checkbox-text {
    font-size: 20px;
    margin-left: 57px;
    margin-top: -26px;
}

.checkbox-text-other {
    font-size: 12px;
    color: #b9c6d5;
    text-decoration: none;
}

.checkbox:hover {
    background: #625e76;
    border-color: white;  
}

input {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    margin-top: 19px;
}

input[type = "checkbox"]:checked + p, span {
    text-decoration: line-through;
    color: #a3a0b4;
  }

/* main - button */
button {
    width: 800px;
    height: 52px;
    background: #4a4f56;
    color: #e97f81;
    font-size: 18px;
    border: 0px;
}