html,
body,
h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
  cursor: default;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  font-family: 'Aleo', serif;
  color: #fff;
  line-height: 26px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }

  &:visited {
    color: currentColor;
  }
}

button {
  cursor: pointer;
}